/* BASIC RESET */
@import url(https://fonts.googleapis.com/css?family=Inria+Serif:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inria+Sans:300,300italic,regular,italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Serif";
}

body {
  background: linear-gradient(240deg, #f9f9ff, #a399ff);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
}

.container-big {
  width: 100%;
}

.container-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  background-color: aliceblue;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 0;
  color: #150b6e;
  position: relative;
  font-size: 2.5rem;
}

h1::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 60%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}

.container-palette {
  display: flex;
  height: 500px;
}

.color {
  flex: 1 1 200px;
  align-content: end;
}
.color-info {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 1.1rem;
}

.generate-btn {
  background: linear-gradient(240deg, #f9f9ff, #a399ff);
  color: #150b6e;
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  font-family: "Inria Sans";
  transition: background 0.4s ease;
  cursor: pointer;
}
.generate-btn:hover {
  background: linear-gradient(240deg, rgb(207, 207, 248), #8074eb);
}
.generate-btn:active {
  background: linear-gradient(130deg, #f9f9ff, #a399ff);
}

.copy-btn {
  color: #a399ff;
  cursor: pointer;
}

@media (max-width: 500px) {
  .container-palette {
    flex-direction: column;
  }
  .color {
    padding: 0;
    align-content: center;
  }
  h1 {
    font-size: 2rem;
  }
  .color-info {
    font-size: 0.9rem;
    padding: 0;
  }
  .generate-btn {
    font-size: 1rem;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  .color-info {
    font-size: 1.3rem;
    padding-bottom: 20px;
  }
  .generate-btn {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.8rem;
  }
  .color-info {
    font-size: 1.7rem;
    padding-bottom: 20px;
  }
  .generate-btn {
    font-size: 1.7rem;
  }
}
